* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(../img/brick-bacground1.jpg) 0 0 / cover no-repeat;
  min-height: 100vh;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  background: rgb(124, 33, 33);
  box-shadow: 0 2px 4px #dec2c2;
  border-radius: 0 0 5px 5px;
}

.logo {
  z-index: 2;
  color: #fff;
}

.menu-icon {
  display: none;
}

.menu-list {
  display: flex;
  justify-content: space-around;
}

.menu-list-item {
  padding: 0 10px;
  list-style: none;
}

.menu-list-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  transition: all 1s ease 0s;
}

.menu-list-link:hover {
  cursor: pointer;
  color: coral;
  transition: all 0.5s ease 0s;
}

figure {
  margin: 10px 0 10px 0;
}

.main-image {
  width: 100%;
  border-radius: 7px;
}

.block-row {
  display: flex;
  justify-content: space-between;
}

.block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 32%;
  list-style: none;
  background-color: rgb(124, 33, 33);
  color: white;
  padding: 10px 0;
  border-radius: 7px;
}

.block-item > h3 {
  text-transform: uppercase;
}

.block-item-text {
  text-align: center;
  margin-top: 15px;
  padding: 0 8px;
}

.icon-brick,
.icon-hryvnia,
.icon-contact {
  text-decoration: none;
  font-size: 100px;
  color: coral;
  transition: all 1s ease 0s;
}
.icon-brick:hover,
.icon-hryvnia:hover,
.icon-contact:hover {
  color: #c42510;
  transition: all 0.5s ease 0s;
}


.block-item-contacts-text {
  font-weight: 700;
  line-height: 24px;
}

.block-item-contacts-link {
  color: #9c9797;
  text-decoration: none;
  font-weight: 600;
}

.link-btn {
  margin-top: 15px;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  background-color: coral;
  text-decoration: none;
  transition: all 1s ease 0s;
}

.link-btn:hover {
  background-color: #c42510;
  transition: all 0.5s ease 0s;
}

.main {
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  box-shadow: 0 2px 4px #dec2c2;
  border-radius: 5px;
}

.content {
  margin: 0 30px;
  padding: 20px 0;
  line-height: 180%;
  min-height: 350px;
}

.content >h1 {
  margin-bottom: 20px;
}

.content-text {
  text-indent: 20px;
}

.content-image-left {
  float: left;
  max-width: 100%;
  margin:10px 15px 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px #dec2c2;
}

.content >h3 {
  margin-top: 20px;
}

.history-content-list {
  padding: 0 0 0 30px ;
}

.history-content-list-item {
  line-height: 200%;
}

.certificate-item {
  margin: 0 auto;
  max-width: 650px;
}

.certificate-img {
  max-width: 100%;
  border-radius: 10px;
}

.contacts-map {
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px #dec2c2;
}

footer {
  background: lightslategray;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
}

.footer-text {
  font-size: 14px;
  padding: 10px 0 0 0;
  text-align: center;
}

@media (max-width: 1180px) {

  .wrapper{
    max-width: 970px;

  }

  .menu-list-link {
    font-size: 16px;
  }
}

@media (max-width: 992px) {

  .wrapper{
    max-width: 767px;

  }

  .menu-list-link {
    font-size: 13px;
  }
}

@media (max-width: 767px) {

  .wrapper {
    max-width: 544px;
  }

  .block-row{
    flex-direction: column;
  }

  .block-item {
    width: 100%;
    margin: 10px 0;
  }

  .menu-icon {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu-icon span,
  .menu-icon::before,
  .menu-icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }

  .menu-icon::before {
    top: 0;
  }

  .menu-icon::after {
    bottom: 0;
  }

  .menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu-icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu-icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu-icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu-body {
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.93);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu-body._active {
    left: 0;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -30px 0 0 -60px;
  }

  .menu-list-link {
    font-size: 24px;
  }

  .menu-list-item {
    margin: 0 0 30px 0;
  }

  .menu-list-item:last-child {
    margin-bottom: 0;
  }

  .content-image-left {
    width: 100%;
  }
}

